{% extends 'board_game/base.html' %} 

{% block page_header %} 
    <h1>{{ game }}</h1>
    <h6>Valmistaja: {{ game.maker }}</h6>
    <h6>Julkaisuvuosi: {{ game.year_published }}</h6>
    <h6>Kuvaus: {{ game.description }}</h6>
	<h6>Omistaja: {{ game.owner }}</h6>
    <h6>Peli lisätty: {{ game.date_added }}</h6>
    <h6>Muokattu viimeksi: {{ game.date_modified }}</h6>
{% endblock page_header %} 

{% block content %} 
    <p>
        <a href="{% url 'board_game:new_rent' game.id %}">New rent</a>
    </p>

    {% for rent in rents %} 
        <div class="card mb-3">
            <h4 class="card-header">
                {{ rent.date_added|date:'M d, Y H:i' }} 
                <small><a href="{% url 'board_game:edit_rent' rent.id %}">
                    Edit rent</a></small>
            </h4>
            <div class="card-body">
                Lainaaja: {{ rent.renter|linebreaks }} 
            </div>
        </div>
    {% empty %} 
        <p>There are no rents for this game yet.</p>
    {% endfor %} 
{% endblock content %} 